.favWrapper {
    padding-top: 60px;
    margin-top: 140px;
}

.fav {
    font-family: play;
    background-color: #e0c3fc;
    padding-bottom: 100px;;
}

.fav p {
    width: 70%;
    margin: 50px auto;
}

span {
    font-size: 1.8rem;
    color: transparent;
    -webkit-text-stroke: 0.7px #000;
    text-stroke: 0.7px  #000;
}

span:hover {
    cursor: pointer;
    color: #000;
    -webkit-text-stroke: none;
    text-stroke: none;
    text-decoration:underline; 
}

h2 {
    margin-top: 90px;
    font-size: 4rem;
}

.fukidashi1, .fukidashi2 {
    position: relative;
}
.fukidashi1 {
    margin-top: 20px;
}

.fukidashi1 img {
    width: 170px;
    position: absolute;
    top: 0%;
    left: 20%;
}
.fukidashi2 img {
    width: 180px;
    position: absolute;
    right: 20%;
}